In [2]:
import pandas as pd

In [7]:
df = pd.read_csv('/home/wadham/Projetos/tibia-com-scraper/tibiascraper/output.csv')

In [8]:
df

    boss_day  monster_day  players_online
0        NaN          NaN             NaN
1   boss_day  monster_day  players_online
2        NaN          NaN             NaN
3   boss_day  monster_day  players_online
4        NaN          NaN             NaN
..       ...          ...             ...
81   Wintera          258             NaN
82   Yonabra          284             NaN
83    Yovera          209             NaN
84      Zuna           12             NaN
85    Zunera            7             NaN

[86 rows x 3 columns]